<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      MinKajiで家事を楽しく分担
    </h2>
    <p class='service-explain'>
      家で過ごす時間が増えたこんな時代だから
    </p>
    <p class='service-explain'>
      みんなで快適な'おうち時間'を。
    </p>
  </div>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>★現在のファミリー獲得ポイント★</h2>    
    <%= link_to '新規で家事を入力する', new_house_work_path, class: "subtitle" %>
 </div>
</div>